<section class='profile'>
  <div class='container'>
    <div class='picture'>
      <%= image_tag current_user.large_picture, width: 200, alt: current_user.name %>
    </div>
    <div class='info'>
      <h2><%= current_user.name %></h2>
    </div>
  </div>
</section>

<section class='user-statistics'>
  <div class='container'>
    <h3>top 10</h3>
    <div class='top10 bf'>
      <h4>best friends</h4>
      <ol>
        <% current_user.top_friends.each_with_index do |checkin, i| %>
          <li>
            <span class='position'><%= i + 1 %></span>
            <%= image_tag(checkin.user2.picture) %>
            <span class='info'>
              <p><%= checkin.user2.name %></p>
              <p>checkins: <%= checkin.count %></p>
            </span>
          </li>
        <% end %>
      </ol>
    </div>
    <div class='top10 wf'>
      <h4>worst friends</h4>
      <ol>
        <% current_user.worst_friends.each_with_index do |checkin, i| %>
          <li>
            <span class='position'><%= i + 1 %></span>
            <%= image_tag(checkin.user2.picture) %>
            <span class='info'>
              <p><%= checkin.user2.name %></p>
              <p>checkins: <%= checkin.count %></p>
            </span>
          </li>
        <% end %>
      </ol>
    </div>
    <div class='top10 recent'>
      <h4>most recent</h4>
      <ol>
        <% current_user.most_recent.each_with_index do |checkin, i| %>
          <li>
            <span class='position'><%= i + 1 %></span>
            <%= image_tag(checkin.user2.picture) %>
            <span class='info'>
              <p><%= checkin.user2.name %></p>
              <p>last: <%= checkin.checkin_data.max(:timestamp) %></p>
            </span>
          </li>
        <% end %>
      </ol>
    </div>
  </div>
  <div id="line-chart"></div>
</section>

<script>
$(function() {

  var chart = new Highcharts.Chart({
    chart: {
      renderTo: 'line-chart',
      type: 'line',
      marginRight: 130,
      marginBottom: 25
    },
    title: {
      text: 'Check-ins Over Time',
      x: -20
    },
    xAxis: {
      categories: <%= months_labels().html_safe %>
    },
    yAxis: {
      title: {
        text: 'Check-ins'
      },
      plotLines: [{
        value: 0,
        width: 1,
        color: '#808080'
      }]
    },
    tooltip: {
      formatter: function() {
        return '<b>'+ this.series.name +'</b><br/>'+
        this.x +': '+ this.y;
      }
    },
    legend: {
      layout: 'vertical',
      align: 'right',
      verticalAlign: 'top',
      x: -10,
      y: 100,
      borderWidth: 0
    },
    series: [
    <% current_user.checkins_as_user1.each_with_index do |checkin, i| %>
      <% if i > 0 %>,<% end %>
      {
        name: '<%= checkin.user2.name %>',
        data: [<%= checkin.month_count.join(',') %>]
      }
    <% end %>
    ]
  });

});
</script>