<section class='profile'>
  <div class='container'>
    <div class='picture'>
      <%= image_tag current_user.large_picture, width: 200, alt: current_user.name %>
    </div>
    <div class='info'>
      <h2><%= current_user.name %></h2>
    </div>
  </div>
</section>

<section class='user-statistics'>
  <div class='container'>
    <ol>
      <% current_user.top_friends.each_with_index do |checkin, i| %>
        <li>
          <span><%= i + 1 %></span>
          <%= image_tag(checkin.user2.picture) %>
          <p><%= checkin.user2.name %></p>
          <p><%= checkin.count %></p>
        </li>
      <% end %>
    </ol>
    <ol>
      <% current_user.worst_friends.each_with_index do |checkin, i| %>
        <li>
          <span><%= i + 1 %></span>
          <%= image_tag(checkin.user2.picture) %>
          <p><%= checkin.user2.name %></p>
          <p><%= checkin.count %></p>
        </li>
      <% end %>
    </ol>
    <ol>
      <% current_user.most_recent.each_with_index do |checkin, i| %>
        <li>
          <span><%= i + 1 %></span>
          <%= image_tag(checkin.user2.picture) %>
          <p><%= checkin.user2.name %></p>
          <p><%= checkin.checkin_data.max(:timestamp) %></p>
        </li>
      <% end %>
    </ol>
  </div>
</section>