<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Real Life Social</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="fb-root"></div>
    <div class='navbar navbar-inverse navbar-static-top'>
      <div class='navbar-inner'>
        <div class='container'>
          <a class='brand' href='/'>
            Real Life Social
          </a>
          <div class="pull-right login">
            <% if user_signed_in? %>
              <span>Welcome <%= current_user.name %></span>
              <%= link_to 'my profile', user_url(current_user.uid) %>
              <%= link_to 'logout', user_sign_out_url, method: :delete %>
            <% else %>
              <span class='f_logo'></span>
              <%= link_to 'login', '/users/auth/facebook', class: 'button' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>


    <footer class='footer'>
      <div class='container'>
        Real Life Social is a <a href='http://railsrumble.com/entries/164-timehome'>Timehome</a> production.
        Made in 48 hours or less for the <a href='http://railsrumble.com'>Rails Rumble 2012</a>
      </div>
    </footer>
    <%= javascript_include_tag "application" %>
  </body>
</html>
