<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>SocialDrink</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="fb-root"></div>
    <div class='navbar navbar-inverse navbar-static-top'>
      <div class='navbar-inner'>
        <div class='container'>
          <a class='brand' href='/'>
            Real Life Social
          </a>
          <ul class="nav pull-right">
            <% if user_signed_in? %>
              <div id="fb-server-authenticated"></div>
              <li>Welcome <%= current_user.email %></li>
            <% else %>
              <%= link_to 'Login with Facebook', '/users/auth/facebook/' %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>


    <%= javascript_include_tag "application" %>
  </body>
</html>
